<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong><i class="nav-icon icon-list"></i> View beneficiaries</strong>
      </div>

      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Beneficiaries name</th>
              <th>Account number</th>
              <th>Bank name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Manojkumar Pawar</td>
              <td>10000001</td>
              <td>DigiBank</td>
              <td>
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Edit</button> &nbsp;
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Delete</button>
              </td>
            </tr>
            <tr>
              <td>Ranajit Patro</td>
              <td>10000007</td>
              <td>YES BANK</td>
              <td>
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Edit</button> &nbsp;
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Delete</button>
              </td>
            </tr>
            <tr>
              <td>Bhavin Patel</td>
              <td>100000053</td>
              <td>CITI BANK</td>
              <td>
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Edit</button> &nbsp;
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
