<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <strong><i class="nav-icon icon-pencil"></i> Add beneficiary</strong>
        <small>Fill (*) marked as mandatory fields</small>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="company">Beneficiary name*</label>
          <select class="form-control" id="ccyear">
            <option>2014</option>
            <option>2015</option>
          </select>
        </div>
        <div class="form-group">
          <label for="street">Address1*</label>
          <input type="text" class="form-control" id="street" placeholder="Enter street name" />
        </div>

        <div class="form-group">
          <label for="street">Address2*</label>
          <input type="text" class="form-control" id="street" placeholder="Enter street name" />
        </div>

        <div class="form-group">
          <label for="street">Country*</label>
          <input type="text" class="form-control" id="street" placeholder="Enter street name" />
        </div>
        <div class="form-group">
          <label for="vat">Account number*</label>
          <input type="text" class="form-control" id="street" placeholder="Enter street name" />
        </div>
        <div class="form-group">
          <label for="vat">Bank name*</label>
          <select class="form-control" id="ccyear">
            <option>INR</option>
            <option>USD</option>
          </select>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-md btn-success"><i class="fa fa-save"></i> SUBMIT</button> &nbsp;
        <button type="reset" class="btn btn-md btn-danger"><i class="fa fa-ban"></i> CANCEL</button>
      </div>
    </div>
  </div>
</div>
